<h1>Leave Form</h1>
<form [fromGroup]="leaveForm" (ngSubmit)="submitForm()">
<!-- <div class="row">
  <div class="col">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="leaveApplication.firstName" required>
  </div>

  <div class="col">
    <label for="department">Department:</label>
    <input type="text" id="department" name="department" [(ngModel)]="leaveApplication.department" required>
  </div>

  <div class="col">
    <label for="designation">Designation:</label>
    <input type="text" id="designation" name="designation" [(ngModel)]="leaveApplication.designation" required>
  </div>
</div> -->

<!-- <hr width="100%" size="7" color="black"  noshade>  -->

<div>
  <label for="reasonForLeave">Reason for Leave:</label>
  <textarea id="reasonForLeave" formControlName="reason"></textarea>
</div>

<div>
  <label for="typeOfLeave">Type of Leave:</label>
  <select id="typeOfLeave" formControlName="typeOfLeave" required>
    <option value="Annual Leave">Annual Leave</option>
    <option value="Sick Leave">Sick Leave</option>
    <option value="Maternity Leave">Maternity Leave</option>
    <option value="Sabbatical leave">Sabbatical leave</option>
    <option value="Marriage leave">Marriage leave</option>
    <option value="Voluntary leave">Voluntary leave</option>    
    <option value="Bereavement leave">Bereavement leave</option>
    <option value="Compensatory leave">Compensatory leave</option>
    <option value="Mandatory leave">Mandatory leave</option>        
    <!-- Add more leave types as needed -->
  </select>
</div>

<hr width="100%" size="7" color="blue"  noshade> 

<div class="row">

<div class="col">
  <label for="numberOfDays" >Number of Days:</label>
  <input type="number" id="numberOfDays" fromContrlName="days" required>
</div>

<div class="col">
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" formControlName="startDate">
</div>

<div class="col">
  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" fromControlName="endDate">
</div>
</div>

<div>
  <button type="button">Submit</button>
&nbsp;
  <button type="reset" class="btn" (click)="cancelleave()">Cancle</button>
</div>  
</form>