<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/"><img id="logo" src="assets/BM_LOGO.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/attendance">Take Attandance</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage Emloyee
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/admin/employees">See Employee</a>
                  <a class="dropdown-item" routerLink="/admin/add-emp">Add Employee</a>
                  <a class="dropdown-item" routerLink="/admin/delete-emp">Delete Employee</a>
                </div>
              </div>
        </li>
      </ul>
      <div class="navbar-btn float-left me-5 pe-5">
        <a class="btn" routerLink="/admin/inbox">Inbox</a>
      </div>
      <div class="navbar-btn">
        <button class="btn btn-info" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>