  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/"><img id="logo" src="assets/BM_LOGO.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees/leave-form">Leave Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Task</a>
        </li>
      </ul>
      <div class="navbar-btn">
        <button class="btn btn-info" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>