
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(255, 0, 0) !important;" style="color: rgb(0, 255, 0);">
        <div class="container-fluid">
                <a routerLink="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/login">login</a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/employees">employees</a>
              </li>
              <li class="nav-item">
                <a routerLink="/employees/leave-form">leave-Form</a>
              </li>
              <li class="nav-item">
                <a routerLink="admin/add-emp">add-employ</a>
              </li>
              <li class="nav-item">
                <a routerLink="admin/employees/attendnce">attendance-sheet</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>




<router-outlet></router-outlet>




<div class="blockcode">

  <footer class="page-footer shadow">
    <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <a href="/#" class="d-flex align-items-center p-0 text-dark">
            <img alt="logo" src="../img/logo.png" width="30px" />
            <span class="ms-3 h5 font-weight-bold">Devwares</span>
          </a>
          <p class="my-3" style="width: 250px">
            We are creating High Quality Resources and tools to Aid developers during the
            developement of their projects
          </p>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Devwares</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="/">Resources</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">About Us</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Contact</a>
            </li>
            <li class="my-2"><a class="text-dark" href="/">Blog</a></li>
          </ul>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Help</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="/">Support</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Sign Up</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Sign In</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Help</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="/">Support</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Sign Up</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-4">
        <div class="mb-4">
          <button class="btn btn-dark btn-flat p-2">
            <i class="fa fa-facebook"></i>
          </button>
          <button class="btn btn-dark btn-flat p-2">
            <i class="fa fa-twitter"></i>
          </button>
          <button class="btn btn-dark btn-flat p-2">
            <i class="fa fa-instagram"></i>
          </button>
        </div>
        <small>&copy; Devwares, 2020. All rights reserved.</small>
      </div>
    </div>
  </footer>
</div>