nav{
    /* background-color: var(--bg-dark); */
    /* background-color: red; */
    padding: 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    margin: 0 15px;
}
#logo{
    /* background-image: url(assets/BM_LOGO.png); */
    width: 100px;
    height: 100px;
    background-color: rgb(54, 134, 135);

}  
#foot{
    position: static;
    /* top: 100px; */
} 