<div class="container-login">
    <div class="wrap-login border p-3 shadow">
        <form class="login-form" [formGroup]="form" (ngSubmit)="checkLogin()">
            <span class="login-form-title mb-5">
                Login
            </span>
            <!-- <span>* UserName is required</span> -->
            <div class="wrap-input mb-3">
                <input class="input" type="text" placeholder="Username" formControlName="UserName" required>
                <span class="focus-input"></span>
            </div>
            <!-- <span>* Password is required</span> -->
            <div class="wrap-input mb-3">
                <input class="input" type="password" placeholder="Password" formControlName="Password" required>
                <span class="focus-input"></span>
            </div>
            <div class="mb-5">
                <div class="float-start">
                    <input class="input-checkbox" id="ckb1" type="checkbox" formControlName="RMe">
                    <label class="label-checkbox" for="ckb1">
                        Remember me
                    </label>
                </div>
                <div class="float-end">
                    <a routerLink="/forgot-pass">
                        Forgot?
                    </a>
                </div>
            </div>
            <button class="login-form-btn my-5 fs-5" [disabled]="!form.valid">
                Login
            </button>
        </form>
    </div>
</div>