<div class="container-login">
    <div class="wrap-login border p-3 shadow">
        <form class="login-form ">
            <span class="login-form-title mb-5">
                Login
            </span>
            <div class="wrap-input mb-3">
                <input class="input" type="text" placeholder="Username">
                <span class="focus-input"></span>
            </div>
            <div class="wrap-input mb-3">
                <input class="input" type="password" placeholder="Password">
                <span class="focus-input"></span>
            </div>
            <div class="mb-5">
                <div class="float-start">
                    <input class="input-checkbox" id="ckb1" type="checkbox">
                    <label class="label-checkbox" for="ckb1">
                        Remember me
                    </label>
                </div>
                <div class="float-end">
                    <a routerLink="/forgot-pass">
                        Forgot?
                    </a>
                </div>
            </div>
            <button class="login-form-btn my-5 fs-5">
                Login
            </button>
        </form>
    </div>
</div>