<!-- attendance-sheet.component.html -->
<div class="container mt-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>7/8/2023</th>
          <th>employee present or absent</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>name</th>
          <th>aditya</th>
          <td>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name=""
                [checked]=""
              />
              <label class="form-check-label">Present</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name=""
                [checked]=""
              />
              <label class="form-check-label">Absent</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  